@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.all {
    overflow: hidden;
}

body {
    background-color: #17141d;
    color: #fff;
    line-height: 0.8;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.head-title {
    font-size: 45px;
    color: aliceblue;
    font-weight: 700;
    text-shadow:
    0 0 1px #fff,
    0 0 5px #fff,
    0 0 5px #fff;
    line-height: 0.8;
}

.head {
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 0.8;
}

.head-img {
    border-radius: 25%;
}

.head-a {
    color: #545454;
    line-height: 0.8;
}

.footer { 
    position: absolute; 
    width: 99%; 
    height: 90px; 
    bottom: 0px; 
    } 
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #17141d;
    transition: all .5s ease;
  }

