@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.all {
    overflow: hidden;
}

body {
    background-color: #1c1c28;
    color: rgb(219, 219, 219);
    line-height: 0.8;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.glow-title {
    font-size: 45px;
    color: aliceblue;
    font-weight: 700;
    text-shadow:
    0 0 1px #fff,
    0 0 5px #fff,
    0 0 5px #fff;
    line-height: 0.8;
}

h1 {
    position: absolute;
    left: 5%;
    color: #dbdbdb;
    font-size: 50px;
}

p {
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translateX(-50%);
    width: 80%;
    color: rgb(219, 219, 219);
    font-size: 25px;
    font-weight: 400;
}

#screens {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.in_index {
    color: #dbdbdb;
    font-size: 18px;
}

.catside a{
    color: #ffdcf9;
    text-shadow:
    0 0 0.9px #ffdcf9,
    0 0 2px #ffdcf9,
    0 0 3px #ffdcf9;
    line-height: 0.8;
    }
  .catside a:hover {
      color: #ffb4f4;
      text-shadow:
      0 0 0.9px #ffb4f4,
      0 0 2px #ffb4f4,
      0 0 3px #ffb4f4;
      line-height: 0.8;
  }

.glow-text {
    color: aliceblue;
    text-shadow:
    0 0 0.9px #fff,
    0 0 2px #fff,
    0 0 3px #fff;
    line-height: 0.8;
}

.footer { 
    position: absolute; 
    width: 99%; 
    height: 90px; 
    bottom: 0px; 
    } 
  .footer a {
    color: #1c1c28;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #1c1c28;
    transition: all .5s ease;
  }